<header class="site-header">
  <div class="header-left">

    <div class="portrait-flottant">
      <img src="{{ '/images/celeste.png' | relative_url }}" alt="Portrait">
    </div>

    <div class="logo-title">
      <h1>
        <a class="site-title" href="{{ '/' | relative_url }}">LAPINSIGHTS</a>
      </h1>
      <p>Terrier des mondes, éclats et correspondances</p>
    </div>

  </div>

  <nav class="menu-haut">

    <button onclick="window.location='{{ '/actualites/' | relative_url }}'">Actualités</button>
    <button onclick="window.location='{{ '/creations/' | relative_url }}'">Créations</button>
    <button onclick="window.location='{{ '/idees/' | relative_url }}'">Territoires d’idées</button>
    <button onclick="window.location='{{ '/spiritualite/' | relative_url }}'">Spirimental</button>
    <button class="disabled" disabled>Vibrations</button>

    <!-- ARCHIVES — bouton simple vers la Salle des Échos -->
    <div class="menu-archives">
      <button onclick="window.location='{{ '/archives/' | relative_url }}'" class="menu-button">
        Archives
      </button>
    </div>

    <div class="menu-passe disabled">
      <button class="menu-button">Dans le passé</button>
      <div class="menu-passe-dropdown"></div>
    </div>

    <button onclick="window.location='{{ '/contact/' | relative_url }}'">Contact</button>

  </nav>
</header>
