---
layout: default
class: accueil
---

<div class="page-accueil">

  <!-- Bloc d’intro -->
  <section class="intro-block">
    <h2>ENTRER DANS LE TERRIER</h2>

    <p>Ici, on entre dans un lieu où la pensée respire, un terrier de douceur et de lucidité. Un espace où l’intérieur et la lumière se frôlent, où l’on avance par frémissements. Un refuge mobile, une lumière douce dans le brouillard.</p>

    <p>Mais ce terrier n’est pas un retrait : il naît d’un geste de lucidité, celui de questionner le monde, ses récits, ses évidences et le bruit qui les porte. J’y cherche des passages, des ouvertures, des manières de penser qui échappent aux automatismes. Je n’écris pas pour convaincre, mais pour éclairer, déplacer, fissurer.</p>

    <p>Tu peux y entrer en suivant ce qui résonne. Rien n’est urgent ici. Tout peut être repris, déplacé, recomposé.</p>

    <p>
<a class="pastille-terrier" href="{{ '/presentation-terrier/' | relative_url }}">
  Présentation du terrier
</a>
</p>
  </section>
</div>

{{ page.url }}



