<!DOCTYPE html>
<html lang="fr">
<head>
  {% include head.html %}
</head>

  <div class="search-zone">
  <input type="text" id="search-input" placeholder="Rechercher...">
  <ul id="results-container"></ul>
</div>

<body>

  {% include header.html %}

  <main>
    <div class="contenu-page page-accueil">
      
    <section class="intro-block">
  <h2>Entrer dans le terrier</h2>

  <p>Ici, on entre dans un lieu où la pensée respire, un terrier de douceur et de lucidité. Un espace où l’intérieur et la lumière se frôlent, où l’on avance par frémissements. Un refuge mobile, une lumière douce dans le brouillard.</p>

<p>Mais ce terrier n’est pas un retrait : il naît d’un geste de lucidité, celui de questionner le monde, ses récits, ses évidences et le bruit qui les porte. J’y cherche des passages, des ouvertures, des manières de penser qui échappent aux automatismes. Je n’écris pas pour convaincre, mais pour éclairer, déplacer, fissurer.</p>

<p>Tu peux y entrer en suivant ce qui résonne. Rien n’est urgent ici. Tout peut être repris, déplacé, recomposé.</p>

</section>


      {{ content }}

    </div>
  </main>

  {% include footer.html %}

  <!-- Statcounter -->
<script type="text/javascript">
var sc_project=13213092; 
var sc_invisible=1; 
var sc_security="a6e8d30c"; 
</script>
<script type="text/javascript"
src="https://www.statcounter.com/counter/counter.js"
async></script>
<noscript><div class="statcounter"><img class="statcounter"
src="https://c.statcounter.com/13213092/0/a6e8d30c/1/"
alt="web analytics"></div></noscript>
<!-- End Statcounter -->


</body>
</html>
