---
layout: default
---

<section class="rubrique-header section-header">

  <h2>{{ page.title }}</h2>

  {% if page.soustitre %}
    <p>{{ page.soustitre }}</p>
  {% endif %}

  <div class="share-rubrique">
    <a href="#" onclick="shareArticle('{{ page.title }}', '{{ page.url | absolute_url }}'); return false;">
      partager cette rubrique
    </a>
  </div>

</section>

<div class="liste-articles">

  {%- comment -%}
  Tri par updated_at (si présent), sinon par date
  {%- endcomment -%}
  {% assign articles = site[page.collection] | sort: "updated_at" | reverse %}

  {% for article in articles %}

    <div class="article-line">

      <div class="article-date">
        {{ article.updated_at | default: article.date | date: "%d.%m.%Y" }}

        {% if article.updated_at %}
          {% assign now = 'now' | date: '%s' %}
          {% assign updated = article.updated_at | date: '%s' %}
          {% assign diff = now | minus: updated %}

          <span class="maj-label {% if diff < 86400 %}maj-blink{% endif %}">
            MàJ
          </span>
        {% endif %}
      </div>

      <div class="article-meta">
        <span class="article-title">
          <a href="{{ article.url | relative_url }}">
            {{ article.title }}
          </a>
        </span>

        {% if article.resume %}
          <span class="article-teaser">
            {{ article.resume }}
          </span>
        {% endif %}
      </div>

    </div>

  {% endfor %}
</div>
