---
layout: default
---

<section class="rubrique-header section-header">
  <h2>{{ page.title }}</h2>
  <p>{{ page.description }}</p>

  <div class="share-rubrique">
    <a href="#"
       onclick="shareArticle('{{ page.title }}', '{{ page.url | absolute_url }}'); return false;">
       partager cette rubrique
    </a>
  </div>
</section>

<div class="liste-pdf">

  {%- assign collection_name = page.collection -%}
{%- assign items = site[collection_name] | sort: "date" | reverse -%}


  {%- for item in items -%}
    <div class="pdf-item">
      <span class="tag-date">{{ item.date | date: "%d/%m/%Y" }}</span>

      <h3 class="pdf-titre">
        {%- if item.pdf -%}
          <a href="#" onclick="openPDF('{{ item.pdf }}'); return false;">
            {{ item.title }}
          </a>
        {%- else -%}
          <a href="{{ item.url | relative_url }}">
            {{ item.title }}
          </a>
        {%- endif -%}

        {%- if item.resume -%}
          — <span class="pdf-resume">{{ item.resume }}</span>
        {%- endif -%}
      </h3>

    </div>
  {%- endfor -%}

</div>
